@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

html,
body {
  overscroll-behavior: none;
}

/* Custom scrollbar hiding (optional) */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
